<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DND Story Maker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="flex-container">
        <h1 class="title">DND STORY MAKER</h1>
        <div class="button-container">
            <a href="{{ url_for('character_creation') }}">
                <button class="btn">Character Creation</button>
            </a>
            <a href="{{ url_for('town_creation') }}">
                <button class="btn">Town Creation</button>
            </a>
        </div>
    </div>
</body>

</html>
